.wrapper {
  width: 80%;
  margin: auto;
}
*:focus {
  outline: none;
}
.text-main {
  color: rgba(254, 44, 85, 1.0);
}
.hover\:text-main:hover {
  color: rgba(254, 44, 85, 1.0);
}
.bg-main {
  background-color: rgba(254, 44, 85, 1.0);
}
.hover\:bg-main:hover {
  background-color: rgba(254, 44, 85, 1.0);
}
.hover\:bg-second:hover {
  background-color: rgb(233, 57, 92);
}
.border-color-main {
  border-color: rgba(254, 44, 85, 1.0);
}
.hover\:border-color-main:hover {
  border-color: rgba(254, 44, 85, 1.0);
}
.content__left {
  width: 25%;
  left: 10%;
}
.content__right {
  left: calc(35% - 12px);
  width: 65%;
  box-sizing: content-box;
}
.hover__flex {
  display: none;
}
.hover__block {
  display: none;
}
.item__hover:hover .hover__flex {
  display: flex;
}
.item__hover:hover .hover__block {
  display: block;
}
.item__video {
  width: 289px;
  height: 500px;
}
.home__left__footer li {
  padding: 0px 2px;
  cursor: pointer;
  margin: 2px;
}
.home__left__footer li:hover {
  text-decoration: underline;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(226, 221, 221); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(226, 221, 221); 
}

/* responsive */

@media (min-width : 1024px) {
  .wrapper {
    width: 90%;
  }
  .content__left {
    left: 5%;
    width: 30%;
  }
  .content__right {
    left: calc(35% - 12px);
    width: 65%;
  }
}

@media (min-width : 1280px) {
  .wrapper {
    width: 80%;
  }
  .content__left {
    width: 25%;
    left: 10%;
  }
  .content__right {
    left: calc(35% - 12px);
    width: 65%;
    box-sizing: content-box;
  }
}

/* responsive */
