:root {
  --animation-duration: 0.8s;
  --circle-diameter: 12px;
  --circle-scale-percent: 0.2;
}

*:focus {
  outline: none;
}
.text-main {
  color: rgba(254, 44, 85, 1.0);
}
.hover\:text-main:hover {
  color: rgba(254, 44, 85, 1.0);
}
.bg-main {
  background-color: rgba(254, 44, 85, 1.0);
}
.hover\:bg-main:hover {
  background-color: rgba(254, 44, 85, 1.0);
}
.hover\:bg-second:hover {
  background-color: rgb(233, 57, 92);
}
.border-color-main {
  border-color: rgba(254, 44, 85, 1.0);
}
.hover\:border-color-main:hover {
  border-color: rgba(254, 44, 85, 1.0);
}

.hover__flex {
  display: none;
}
.hover__block {
  display: none;
}
.item__hover:hover .hover__flex {
  display: flex;
}
.item__hover:hover .hover__block {
  display: block;
}
.item__video {
  width: 289px;
  height: 500px;
}
.home__left__footer li {
  padding: 0px 2px;
  cursor: pointer;
  margin: 2px;
}
.home__left__footer li:hover {
  text-decoration: underline;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  visibility: hidden;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  visibility: hidden;
  background: rgb(226, 221, 221); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  visibility: visible;
  background: rgb(226, 221, 221); 
}
/* */
.content__left {
  width: 75px;
  left: 1%;
}
.content__right {
  left: calc(75px);
  width: calc(100% - 75px);
  box-sizing: content-box;
}
.wrapper {
  width: 98%;
  margin: auto;
}

/* loading */

.loader {
  position: relative;
  left: calc(var(--circle-diameter) * -1);
}

.loader:before,
.loader:after {
  content: " ";
  display: table-cell;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  border-radius: 50%;
  position: absolute;
  animation-duration: var(--animation-duration);
  animation-name: revolve;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  mix-blend-mode: darken;
}

.loader:before {
  background: rgb(77, 232, 244);
}

.loader:after {
  background: rgb(253, 62, 62);
  animation-delay: calc(var(--animation-duration) / -2);
}

@keyframes revolve {
  0% {
    left: 0;
  }
  25% {
    transform: scale(calc(1 + var(--circle-scale-percent)));
  }
  50% {
    left: var(--circle-diameter);
  }
  75% {
    transform: scale(calc(1 - var(--circle-scale-percent)));
  }
  100% {
    left: 0;
  }
}
/* loading */
.circle {
  width: 100px;
  height: 100px;
  position: relative;
}
.circle__left {
  width: 100%;
  height: 50%;
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: 500;
  left: 0;
}
.circle__right {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.circle__left span {
  width: 100%;
  height: 200%;
  display: block;
  border-radius: 50%;
  border : 4px solid rgb(253, 62, 62);
  border-right: 4px solid gray;
  border-bottom: 4px solid gray;
}
.circle__right span {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  border : 4px solid rgb(253, 62, 62);
  border-right: 4px solid gray;
  border-bottom: 4px solid gray;
}
.circle__number {
  width: 90%;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  background: transparent;
  transform: rotate(-90deg);
}

.spin__circle {
  animation:  spinCicle 3s infinite linear;
}
@keyframes spinCicle {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.navbar__move {
  transition: 0.5s;
}
.item__video__list {
  width: calc((100% / 2) - 4px);
}
.max-h-1\/2 {
  max-height: 50vh;
}
.wrapper__profile {
  width: 85%;
}
.arrow__center__bottom {
  background-color: gray;
  clear: both;
  display: inline-block;
  white-space: nowrap;
}
.arrow__center__bottom::before {
  content: "";
  position: absolute;
  top: 125%;
  left: 50%;
  transform: translateY(-50%);
  border : 12px solid gray;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}
/* responsive */
@media (min-width : 1280px) {
  .wrapper {
    width: 80% !important;
  }
  .content__left {
    width: 25% !important;
    left: 10% !important;
  }
  .content__right {
    left: calc(35% - 12px);
    width: 60%;
    box-sizing: content-box;
  }
}
@media (min-width : 1024px) {
  .wrapper {
    width: 90%;
  }
  .content__left {
    left: 5%;
    width: 30%;
  }
  .content__right {
    left: calc(35% - 12px);
    width: 65%;
  }
}
@media (min-width : 768px) {
  .content__left {
    width: 33%;
    left: 1%;
  }
  .item__video__list {
    width: calc((100% / 3) - 4px) !important;
  }
  .content__right {
    left: calc(35% - 12px);
    width: 65%;
    box-sizing: content-box;
  }
}
/* responsive */
